.form{
    width: 400px;
    margin: 0 auto;
    text-align: end;
}

.input__field{
    text-align: end;
    height: 30px;
    margin-bottom: 10px;
    label{
       margin-right: 10px; 
    }
}

.error{
    color: red;
    text-align: end;
}